encryption = 2
ssid = "8185_AP"
enable1x = 0
enableMacAuth = 0
supportNonWpaClient = 0
wepKey = 1
wepGroupKey = ""
authentication = 2
unicastCipher = 1
usePassphrase = 1
psk = "1234567890"
groupRekeyTime = 86400
rsPort = 1812
rsIP = 192.168.1.51
rsPassword = ""
rsMaxReq = 3
rsAWhile = 5
accountRsEnabled = 0
accountRsPort = 1813
accountRsIP = 0.0.0.0
accountRsPassword = ""
accountRsUpdateEnabled = 0
accountRsUpdateTime = 60
accountRsMaxReq = 3
accountRsAWhile = 5
