<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<script language="JavaScript" src="/showBanner.js"></script>
<script language="Javascript" src="/string.js"></script>
<script>AssignVariable();</script>
<title>安装助手&mdash;&mdash;中文</title>
<link rel="stylesheet" href="/style.css" type="text/css">
<script language="javascript" type="text/javascript">
<!-- 
function OnSubmitData() {
	var the=document.forms;
	
	the.submit();
	return;
}
// -->
</script>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="forms" action="/cgi-bin/CA.cgi" method="post">
<input type="hidden" name="page" value="CA_ConnType_Telstra_InputInfo.html">
<input type="hidden" name="Load" value="W">
<input type="hidden" name="Encap" value="3">
<input type="hidden" name="CA_Step" value="50">
<input type="hidden" name="TelDemand" value="0">
<table border="0" cellspacing="0" cellpadding="0" align="left" width="100%" height="100%">
<script language="JavaScript">
var menuItem	="3";
PresentHead();
PresentMenu(menuItem);
</script>

<td valign="top" width="80%" height="100%">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<td valign="top" width="2%" height="100%"></td>
		<td valign="top" width="90%" height="100%">
		<h1>请输入Telstra BigPond连接的详细信息。 </h1>
			<table width="70%" border="0">
			   <td colspan="3"><p><strong>Telstra BigPond的详细登录信息 </strong></p></td>			  
		       <tr>
		         <td>&nbsp;</td>
		         <td>登录用户名</td>
		         <td><input name="TelUserName" type="text" size="15" maxlength="60" value="<% nvram_get("wan_tel_username"); %>" /></td>
		       </tr>
		       <tr>
		         <td>&nbsp;</td>
		         <td>密码</td>
		         <td><input name="TelPasswd" type="password" size="15" maxlength="50" value="<% nvram_get("wan_tel_password"); %>" /></td>
		       </tr>
		       <tr>
		         <td>&nbsp;</td>
		         <td>认证服务器</td>
		         <td><input name="TelServName" type="text" size="15" maxlength="15" value="<% nvram_get("wan_tel_service"); %>" /></td>
		       </tr>
		       <tr>
		         <td>&nbsp;</td>
		         <td>闲置超时（分钟）</td>
		         <td>
		           <div align="left">
		             <input name="TelIdleTime" class="num" type="text" size="3" maxlength="3" value="<% nvram_get("wan_tel_idle_interval"); %>" />
		            </div></td>
		       </tr>
		       <tr>
		         <td colspan="3">&nbsp;</td>
		       </tr>
       	       <td>
			     <p>&nbsp;</p>
			     <p>&nbsp;</p>
			     <p>&nbsp;</p>
			   </td>
			</table>
		</td>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<td valign="top" width="5%" height="100%"></td>
		<td valign="top" width="15%" height="100%"></td>
		<td valign="top" width="15%" height="100%"></td>
		<td valign="top" width="15%" height="100%">
   			<input type=button value="下一步&gt;" onClick="OnSubmitData();">
   		</td>
		<td valign="top" width="50%" height="100%"></td>
	</table>
	
</table>
</td>
</table>
</form>
</body>
</html>
