p
{
	color: black;
	background: transparent;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	list-style-position: outside;
}

H1
{
	color: black;
	background: transparent;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
}


H2
{
	color: black;
	background: transparent;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
}
body { margin: 6px; }

UL
{
	color: black;
	background: transparent;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	list-style-position: outside;
}

ol
{
	color: black;
	background: transparent;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	list-style-position: outside;
}
